typings/**
test/**
**/*.map
.vscode/**/*
.gitignore
.gitlab-ci.yml
tsconfig.json
vsc-extension-quickstart.md
src/**/*
coverage/**
coverconfig.json
azure-pipelines.yml
dist/test/**
**/*.js.map
*.vsix
.vscode-test/**
.sfdx/**
.github/**
.prettierignore
webpack.config.js
analytics.json
package.xml
forcecode-**.vsix
wallaby.js
book.json
prettier.config.js