typings/**
test/**
**/*.map
.vscode/**/*
.gitignore
tsconfig.json
vsc-extension-quickstart.md
src/**/*
out/test/**
**/*.js.map
*.vsix
.vscode-test/**
.sfdx/**
.github/**
.prettierignore
webpack.config.js
analytics.json
package.xml
forcecode-**.vsix
wallaby.js
book.json
prettier.config.js